.navigation{
    display: flex;
    margin-bottom: 0px;
    
    font-size: 1.8rem;
    line-height: 2.8rem;
    li{
      margin-top: 0px;  
    }
    
}

.navigation_link{
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    @extend %transition;
    &:hover{
        color: $color-primary;
    }
}