.button{
    font-family: $font-family;
    padding: 11px 25px 13px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.button__boreder{
    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;
}

.button__colored{
    background: $color-primary; 
    border: 1px solid $color-primary;
    color: $color_light;
    border: none;
}

.button__colored:hover{
    background: $color-additional;
    border-color: $color-additional;
}

.button__boreder:hover{
    background: $color-hovered;
    border-color: $color-hovered;

}