.ico{
    cursor: pointer;
    display: inline-block; 
  }

.ico-square {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &_yellow {
        background-color: $color-yellow;
    }
    &_red {
        background-color: $color-red;
    }
    &_blue {
        background-color: $color-blue;
    }
    &_violet{
        background-color: $color-violet;
    }

}

.ico__play{
    background-image: url("/img/icons/icon_play.svg");    
    width: 18px;
    height: 19px;
    @extend %transition;
}

.ico_arrow{
  background-image: url(/img/icons/icon_arrow.png);  
  width: 22px;
  height: 22px;
  filter: invert(100%); 
 }

 .ico_polls {
     background-image: url(/img/icons/icon_polls.png);
     width: 24px;
     height: 24px;
     filter: invert(100%)
 }

 .ico_heart {
   background-image: url(/img/icons/icon_heart.png);
   width: 24px;
   height: 24px;
   filter: invert(100%);
 }

 .ico_hourglass{
  background-image: url(/img/icons/icon_hourglass.png);
  width: 24px;
  height: 24px;
  filter: invert(100%);
}
 

 